.wd-search-icon-position {
  left: 30px;
  bottom: 25%;
}

.wd-main-post-image {
  left: 3px;
  bottom: 0;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 45px;
  color: rgb(20, 20, 20);
}

.wd-image {
  width: 100px;
  max-width: 100%;
}