.wd-min-width-100-parent {
  min-width: 100%;
}

.wd-search-icon-position {
  left: 30px;
  bottom: 25%;
}

.wd-main-post-image {
  left: 3px;
  bottom: 0;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 45px;
  color: rgb(20, 20, 20);
}

.wd-negative-margin {
  margin-right: -12px;
}

.wd-half-inner-stack {
  font-size: 0.5em;
}

.wd-image {
  width: 100px;
  max-width: 100%;
}