.wd-min-width-100-parent {
  min-width: 100%;
}

.wd-cog-icon-color-blue {
  color: #0d6efd;
}

.wd-search-icon-position {
  left: 30px;
  bottom: 25%;
}

.wd-starship {
  left: 6px;
  bottom: -5px;
  font-family: "Arial";
  font-weight: bold;
  color: white;
}