body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wd-fa-stack {
  width: 1em;
}

.wd-half-inner-stack {
  font-size: 0.5em;
}

.wd-post-summary-image {
  object-fit: cover;
}

.wd-nudge-up {
  left: 30px;
  bottom: 25%;
}

.wd-main-post-image {
  left: 3px;
  bottom: 0;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 45px;
  color: rgb(40, 40, 40);
}

li.list-group-item.wd-post {
  background-color: #060606;
  border: 1px solid rgb(50, 50, 50);
}

.wd-post a {
  text-decoration: none;
}

.wd-post-image {
  border: 1px solid rgb(50, 50, 50);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wd-post-image-rounded {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 15px;
}

.wd-post-content {
  padding: 12px;
  background-color: #060606;
  border-bottom: 1px solid rgb(50, 50, 50);
  border-left: 1px solid rgb(50, 50, 50);
  border-right: 1px solid rgb(50, 50, 50);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wd-post-icon-group a {
  color: rgb(85, 85, 85);
}

.wd-profile-image {
  position: relative;
  bottom: 40px;
  border: black 2px solid;
}

.wd-edit-profile-button {
  background-color: black;
  border: 1px white solid;
  color: white;
}

.wd-edit-profile-border {
  border: 1px lightgrey solid;
}

input.form-control:focus {
  border-color: lightgrey;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

textarea.form-control:focus {
  border-color: lightgrey;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.bi-x-lg:hover {
  cursor: pointer;
}

.wd-clickable:hover{
  cursor: pointer;
}
